@tailwind base;
@tailwind components;
@tailwind utilities;

.p-colorpicker-preview.p-inputtext{
    width: 2rem;
    border-radius: 5px;
}

/* Input password */
.p-icon-field.p-icon-field-right{
    width: 100%;

}
